<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs"/>
    <targets>
      <target name="File" layout="${longdate} ${level} ${logger} ${message} ${exception:format=tostring}" type="File" fileName="${logDirectory}/${shortdate}.txt" keepFileOpen="false"></target>
      <target name="console" layout="${longdate} ${level} ${logger} ${message} ${exception:format=tostring}" type="ColoredConsole"></target>
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeto="File"></logger>
      <logger name="*" minlevel="Info" writeto="console"></logger>
    </rules>
  </nlog>
</configuration>